img {
  max-width: 100%;
  height: auto;
}

/* General Typography*/

html,
body {
  color: #2d2d2d;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2 {
  color: #2d2d2d;
  font-family: "Playfair Display", Arial, serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5rem;
  padding: 20px;
}

h2 span {
  font-weight: bold;
}

ul {
  list-style: none;
}

/* General Containers */

.container {
  text-align: center;
  max-width: 1240px;
  width: 95%;
  margin: 0 auto;
}

.container_small {
  text-align: center;
  max-width: 740px;
  width: 90%;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}

.screen-reader-text[tabindex="-1"]:focus {
  outline: 0;
}
/** ---------------------------------------------------------- 
                             Header 
------------------------------------------------------------**/

.logo-cart-heading {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 5px;
}

.logo {
  height: 50px;
  order: 1;
}

.cart {
  height: 55px;
  order: 2;
  padding-left: 60%;
}

/* Navigation */

nav {
  border-top: 1px solid #969696;
  margin-top: 5px;
  width: 100%;
  order: 3;
}

.navigation li {
  color: #b64036;
  display: inline-block;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin: 10px 15px;
}

/* Navigation Link Behaviour */

a:link {
  color: #e2574c;
  text-decoration: none;
}

a:visited {
  color: #e2574c;
}

a:hover {
  color: #b64036;
}

/* For media query */

.logo-nav-cart-order {
  display: none;
}

/* --------------------------------------------------------------
                      Main Banner (Flower-bkgd)
----------------------------------------------------------------*/

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), no-repeat url(../images/banner-girl.png),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), repeat url(../images/flower-bkgd.jpg);
  background-position: center 120px, center;
  padding: 16rem 0px;
  /* background-repeat:no-repeat, repeat; */
  margin: 0;
  background-size: cover, 250px auto, cover;
  position: relative;
}
/* linear-gradient(rgba(0,0,0,0.3)) */

/* Typography for Banner */

.bannertext {
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  text-shadow: 1px 1px 2px gray;
}

.bannertext2 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  text-shadow: 1px 1px 2px gray;
  line-height: 4rem;
}

/*------------------------------------------------------------------
                             About 
-------------------------------------------------------------------*/

.about_aloha {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  line-height: 40px;
  margin: 10px;
}

.shopinfo h2 {
  font-style: italic;
}

.shopinfo span {
  font-style: normal;
}

/*-----------------------------------------------------------------
                           Categories
-------------------------------------------------------------------*/

.categories_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-gap: 10px;
  text-align: center;
}

.categories {
  font-size: 24px;
  text-shadow: 2px 1px 4px gray;
  padding-top: 90px;
}

.mens {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center center/cover url(../images/mens-category.jpg);
  grid-column: span 2;
}

.trends {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center center/cover url(../images/trends-category.jpg);
}

.glasses {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center center/cover url(../images/glasses-category.jpg);
}

.sale {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center center/cover url(../images/sale-category.jpg);
}

.bags {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center center/cover url(../images/bags-category.jpg);
}

.womens {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    no-repeat center center/cover url(../images/womens-category.jpg);
  grid-column: span 2;
}

/* Categories Link Behaviour */

.categories a:link {
  color: white;
  text-decoration: none;
}

.categories a:visited {
  color: white;
}

.categories a:hover {
  color: beige;
}

/*--------------------------------------------------------------------
                         Featured (Scrolling)
---------------------------------------------------------------------*/
.container-featured {
  width: 80%;
  text-align: center;
  margin: 80px auto;
  display: block;
}

.main-carousel {
  height: 450px;
}

.carousel-cell {
  width: 100%;
}

.carousel-cell button {
  color: white;
  background-color: black;
  border-radius: 25px;
  font-family: "Raleway", Arial, sans-serif;
  padding: 5px 10px;
  margin: 5px;
}

/* Typography for Featured */

.scroll-products h2 {
  font-style: italic;
}

.scroll-products span {
  font-style: normal;
}

.featured-text-genre,
.featured-text-price {
  color: #969696;
  font-size: 11px;
  font-family: "Raleway", Arial, sans-serif;
}

.featured-text-name {
  color: #e2574c;
  font-size: 20px;
  font-family: "Playfair Display", Arial, serif;
}

/* --------------------------------------------------------------------
                             Sign Up Banner 
----------------------------------------------------------------------*/

.banner_waves {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), no-repeat url(../images/wave-bkgd.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 5px 0px 10px;
  margin-bottom: 8px;
}

.signup-text {
  color: white;
  font-size: 18px;
  font-weight: 100;
  line-height: 35px;
  margin: 20px auto;
}

.subscribe h2 {
  font-style: italic;
  font-size: 40px;
  text-shadow: 3px 1px 3px gray;
}

.subscribe span {
  font-style: normal;
  font-size: 40px;
  text-shadow: 3px 1px 3px gray;
}

/*Button*/

form {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px;
  border-radius: 25px;
  position: absolute center;
}

#input {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  padding: 15px;
  flex-grow: 2;
  border: none;
  border-radius: inherit;
}

input:focus {
  outline: none;
}

#email {
  padding: 5px;
}

.button {
  background-color: #e2574c;
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  border-radius: 25px;
}

.button:hover {
  background-color: #b64036;
}

/*------------------------------------------------------------------------
                                 Footer 
-------------------------------------------------------------------------*/

.alohafooter {
  background-color: #242424;
  margin: 0;
  height: 300px;
}

.footer-text-container {
  font-family: "Playfair Display", Arial, serif;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
}

.leftside-footer-copyright {
  color: white;
  text-align: center;
  padding-top: 40px;
}

.leftside-footer-contact {
  color: white;
  text-align: center;
  padding: 10px 0px;
  margin: 0 0;
}

.social-media {
  color: white;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 100%;
  font-weight: 100;
  line-height: 2rem;
  list-style-position: inside;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  margin: 1.5rem;
  text-align: center;
}

.icon {
  padding: 0px 10px;
  text-align: right;
  min-width: 20px;
}

.address {
  color: #969696;
  text-align: center;
}

ul li span {
  display: none;
}

/* Social Media and Contact Link Behaviour */

.social-media a:link {
  color: white;
  text-decoration: none;
}

.social-media a:visited {
  color: white;
}

.social-media a:hover {
  color: #e2574c;
}

.leftside-footer-contact a:link {
  color: white;
}

.leftside-footer-contact a:visited {
  color: white;
}

.leftside-footer-contact a:hover {
  color: #e2574c;
}

/* ----------------------------------------------------------------------
                             Media Queries 
-------------------------------------------------------------------------*/

/* ----------------------------- Tablet -------------------------------- */

@media screen and (min-width: 600px) {
  .container_small {
    width: 550px;
  }
  /* ------------------- Heading */

  .site-heading {
    position: sticky;
    top:0;
    z-index:9999;
    background-color:#fff;
    width:100%;
    padding:3px 7%;
  }
  .logo-cart-heading {
    flex-wrap: nowrap;
    margin: 0 10px;
    justify-content: space-between;
  }

  .logo {
    order: 1;
  }

  .cart {
    order: 3;
    padding-left: 0;
  }

  nav {
    border-top: none;
    order: 2;
  }
  /* --------------------- Main Banner */

  .banner {
    background-position: center 70px, center;
    background-size: contain, 250px auto, cover;
  }

  .banner-text2 {
    line-height: 0;
  }

  /* --------------------- Categories */

  .categories_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
  }
  .categories {
    font-size: 30px;
    padding-top: 120px;
  }

  /* --------------------- Flickity */

  .carousel-cell {
    width: 50%;
  }

  /* --------------------- Sign-Up */

  .button {
    width: 22%;
  }

  /* --------------------- Footer */

  .footer-text-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 1.5rem;
    width: 100%;
  }

  .social-media {
    display: inline;
    margin: 5rem;
    text-align: left;
  }

  .leftside-footer-contact {
    text-align: left;
  }

  .leftside-footer-copyright {
    color: white;
    text-align: left;
    padding-top: 80px;
  }

  ul li span {
    display: inline-block;
  }

  .address {
    text-align: left;
  }
}

/* --------------------------------- Desktop ----------------------------- */

@media screen and (min-width: 1240px) {
  .container_small {
    width: 650px;
  }

  /* ------------------------- Main Banner */
  .banner {
    background-position: center 70px, center;
    background-size: contain, 250px auto, cover;
  }

  .banner-text2 {
    line-height: 0;
  }

  /* ------------------------- Flickity */

  .carousel-cell {
    width: 25%;
  }

  /* ------------------------- Categories */

  .categories_container {
    grid-template-rows: repeat(2, 350px);
  }
  .categories {
    font-size: 36px;
    padding-top: 130px;
  }

  /* -------------------------- Sign-Up */

  .button {
    width: 22%;
  }

  /* -------------------------- Footer */

  .footer-text-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
  }

  .social-media {
    display: inline;
    margin: 5rem;
    text-align: left;
  }

  .leftside-footer-contact {
    text-align: left;
  }

  .leftside-footer-copyright {
    color: white;
    text-align: left;
    padding-top: 80px;
  }

  ul li span {
    display: unset;
  }
  .address {
    text-align: left;
  }
}
