/* General Typography*/

html, body {
    color: #2d2d2d;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    font-size:16px;
    font-style: normal;
    line-height:1.5rem;
    margin:0;   
}

h1, h2 {
    color:#2d2d2d;
    font-family: 'Playfair Display', Arial, serif;
    font-size:36px;
    font-weight: normal;
    font-style: normal;
    line-height:1.5rem;
    padding:20px;
}

h2 span {
    font-weight:bold;
}

ul {
    list-style: none;  
}

/* General Containers */

section, header, footer {
    /* background-color:gray; */
}

.container {
    text-align:center;
    margin:0 auto;
    display: block;
}

.container_small {
    text-align:center;
    margin:40px auto;
    display: block;
    width:25rem;
}


/** ---------------------------------------------------------- 
                             Header 
------------------------------------------------------------**/
.container_heading {
    text-align:center;
    margin:2rem 0.5rem;
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    width:100%;
    /* position:fixed; */
}

.logo {
    align-self:flex-start;
    width: 160px;
    margin:15px 0px;
}

/* Navigation */

nav li{
    color:#b64036;
    display: inline-block;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: normal;
    font-size:16px;
    font-style: normal;
    text-align: center;
    margin:40px 15px 20px;
    
}

/* Navigation Link Behaviour */

a:link {
    color:#e2574c;
    text-decoration: none;
}

a:visited {
    color: #e2574c;
}

a:hover {
    color: #b64036;
}

/* Cart */

.container_cart {
    max-width:1240px;
    text-align:right;
    margin:0;
    position: relative;
    right: auto;
}

.cart {
    align-self:flex-end;
    width: 60px;
    margin:17px 20px 0px 40px;
}

.number {
    text-align:center;
    font-size: 30px;
    text-align:right;
    font-family:Arial;
    font-weight:bolder;
    position: absolute;
    right: 0px;
    top:0px;
    padding-top:40px;

    /* width:40px;
    height:40px;
    border-radius: 50%;
    background-color:#b64036; */
}




/* --------------------------------------------------------------
                      Main Banner (Flower-bkgd)
----------------------------------------------------------------*/

.banner {
    background-image: url(images/banner-girl.png), url(images/flower-bkgd.jpg);
    background-position:bottom;
    padding:200px;
    background-repeat:no-repeat, repeat;
    margin:0;
    background-size:280px, contain;
    position:relative;
}

/* Typography for Banner */

.bannertext {
    color:white;
    font-family:"Raleway", Arial, sans-serif;
    font-size:20px;
    text-align:center;
    margin:0 auto;
    text-shadow: 1px 1px 2px gray;
}

.bannertext2 {
    color:white;
    font-size:60px;
    text-align:center;
    margin:0 auto;
    text-shadow: 1px 1px 2px gray;
    
}

/*------------------------------------------------------------------
                             About 
-------------------------------------------------------------------*/

.about_aloha {
    text-align: center;
    font-size:18px;
    font-weight:100;
    line-height:40px;
}

.shopinfo h2{
    font-style:italic;
}

.shopinfo span{
    font-style:normal;
}

/*-----------------------------------------------------------------
                           Categories
-------------------------------------------------------------------*/

.categories_container {
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
    align-items:baseline;
}

.categories {
    background-position-x:center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size:40px;
    margin: 6px;
    width:400px;
    height:400px;
    padding-top:200px;
}

.mens {
    background-image: url(images/mens-category.jpg);
    align-self:flex-start;
    flex-grow:2;
    flex-basis:41.5%;
}

.trends {
    background-image: url(images/trends-category.jpg);
    flex-grow:1;
}

.glasses {
    background-image: url(images/glasses-category.jpg);
    flex-grow:1;
}

.sale {
    background-image: url(images/sale-category.jpg);
    flex-grow:1;
}

.bags {
    background-image: url(images/bags-category.jpg);
    flex-grow:1;
}

.womens {
    background-image: url(images/womens-category.jpg);
    align-self:flex-end;
    flex-grow:2;
    flex-basis: 41.5%;
}

/* Categories Link Behaviour */

.categories a:link {
    color:white;
    text-decoration: none;
}

.categories a:visited {
    color: white;
}

.categories a:hover {
    color:beige;
}

/*--------------------------------------------------------------------
                         Featured (Scrolling)
---------------------------------------------------------------------*/
.container-featured {
    width:80%;
    text-align:center;
    margin:40px auto;
    display: block;
}

.carousel-cell button {
    color:white;
    background-color: black;
    border-radius:25px;
    font-family:'Raleway', Arial, sans-serif;
    padding:5px 10px;
    margin:5px;
}

/* Typography for Featured */

.scroll-products h2{
    font-style:italic;
}

.scroll-products span{
    font-style:normal;
}

.featured-text-genre.featured-text-price {
    color:#969696;
    font-size:10px;
    font-family:'Raleway', Arial, sans-serif;
    font-weight:100;
}

.featured-text-name {
    color:#e2574c;
    font-size:20px;
    font-family:'Playfair Display', Arial, serif;
}

.carousel-cell img {
    width:initial;
}


/* --------------------------------------------------------------------
                             Sign Up Banner 
----------------------------------------------------------------------*/

.banner_waves {
    background-image: url(images/wave-bkgd.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size:cover;
    margin:0 0 1rem auto;
    padding: 3px;
}

.signup-text {
    color:white;
    font-size: 18px;
    font-weight:100;
    line-height:35px;
}

.subscribe h2{
    font-style:italic;
    font-size:40px;
}

.subscribe span{
    font-style:normal;
    font-size:40px;
}

/*Button*/

form {
    display:flex;
    flex-direction:row;
}

.input {
    font-size:16px;
    padding: 15px 30px;
    border-radius: 20px 0px 0px 20px;
    flex-grow:2;
    border:none;
}

input:focus{
    outline: none;
  }

#email {
    padding:25px;
}

.button {
    background-color: #e2574c;
    color:white;
    font-family:'Raleway';
    font-size:18px;
    border-radius:25px;
    width:18%;
}

.button:hover {
    background-color:#b64036;
}

/*------------------------------------------------------------------------
                                 Footer 
-------------------------------------------------------------------------*/

.alohafooter {
    background-color:#242424;
    display:flex;
    align-items:baseline;
    margin:0; 
    height:300px;   
}

.footer-text-container {
    font-family:"Playfair Display", Arial, serif;
    display: flex;
    flex-direction:row;
    align-content: center;
    justify-content: space-between;
    margin:0 auto;
    width: 85%;
}

.leftside-footer-copyright {
    color: white;
    text-align: left;
    padding-top:80px;
    align-self:flex-start;  
}

.leftside-footer-contact {
    color: white;
    text-align: left;
    align-self:flex-start;  
    padding:10px 0px;
    margin:0 0; 
}

.social-media {
    color:white;
    font-family:"Raleway", Arial, sans-serif;
    font-size: 100%;
    font-weight:100;
    line-height:2rem;
    align-self:flex-end;
    list-style-position: inside;
}

.icon {
    padding:0px 10px;
    text-align: right;
    min-width:20px;
}

.address {
    color:#969696;
}

/* Social Media and Contact Link Behaviour */

.social-media a:link {
    color:white;
    text-decoration: none;
}

.social-media a:visited {
    color: white;
}

.social-media a:hover {
    color: #e2574c;
}

.leftside-footer-contact a:link {
    color:white;
}

.leftside-footer-contact a:visited {
    color: white;
}

.leftside-footer-contact a:hover {
    color: #e2574c;
}

/* ----------------------------------------------------------------------
                             Media Queries 
-------------------------------------------------------------------------*/

/* Tablet */
@media screen and (min-width:600px) {
    .container_small {
        width:550px;
    }

    .container_heading {
        text-align:center;
        /* margin:0 auto; */
        display: flex;
        justify-content:space-between;
        flex-direction:row;
        width:100%;
        /* position:fixed; */
    }
}

/* Desktop */
@media screen and (min-width:1240px) {
    .container_small {
        width:650px;
    }
    .container_heading {
        text-align:center;
        margin:0 auto;
        display: flex;
        justify-content:space-between;
        flex-direction:row;
        width:83%;
        /* position:fixed; */
    }
}




/* makes all images responsive */


/* "height:auto" gives proper aspect ratio */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
 







